.alerta-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* ✅ Cambiado de 'auto' a un valor alto */
  flex-direction: column;
  backdrop-filter: blur(5px);       /* difumina el fondo */
  -webkit-backdrop-filter: blur(5px); /* compatibilidad con Safari */
  word-wrap: break-word;       /* rompe palabras largas */
  overflow-wrap: break-word;  /*  soporte adicional */
}

.alerta-contenedor {
  background: white;
  border-radius: 1.5rem;
  padding: 7.5rem 1.5rem 2rem 1.5rem;
  text-align: center;
  width: 30%;
  height: 40%;
  position: relative;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  z-index: 10000; /* ✅ Asegura que esté por encima del overlay */
}

.alerta-footer {
  padding: 0.7rem 7.5rem 0.7rem 7.5rem;
  border-radius: 0rem 0rem 2.5rem 2.5rem;
  position: relative; /* ✅ Agregado para contexto de apilamiento */
  z-index: 10001; /* ✅ Asegura que el footer esté visible */
}

.alerta-icono {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 1rem;

  position: absolute;
  top: 14px;   /* antes: -35% */
  left: 0;

  width: 100%;

  z-index: 10002;

  background: transparent;
}

.alerta-img {
  width: 30%;
  height: 30%;

  max-width: 19%;
  max-height: 19%;

  object-fit: contain;
  display: block;
}

.alerta-cerrar {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10003; /* ✅ Asegura que el botón de cerrar sea clickeable */
}

.alerta-cerrar i:hover{
  color: #858383;
}

.alerta-titulo {
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  font-family: 'poppins', sans-serif;
}

.alerta-mensaje {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-family: 'poppins', sans-serif;
  word-break: break-word;
  white-space: normal;
}

.alerta-botones {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn-cancelar, .btn-aceptar {
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'poppins', sans-serif;
}

.btn-cancelar, .btn-aceptar {
  background-color: #D9D9D9;
} 
.btn-cancelar:hover, .btn-aceptar:hover {
  background-color: #BFBFBF;
}



/* Responsive */
@media (max-width: 480px) {
  .alerta-contenedor {
    padding: 3rem 1rem 1rem 1rem;
    max-width: 90%;
  }

  .alerta-titulo {
    font-size: 1.2rem;
  }

  .alerta-mensaje {
    font-size: 0.9rem;
  }

  .btn-cancelar, .btn-aceptar {
    padding: 0.4rem 1rem;
    font-size: 0.9rem;
  }
}